.vs/
*.iobj
*.ipdb
*.tlog
*.log
*.pdb
*/Release/*.obj
*/Release/*.exe
*Release/*.obj
*Release/*.exe
*Debug/*.obj
*Debug/*.exe
*/Debug/*.obj
*/Debug/*.exe
OpenGL-basico/Debug/vc143.idb
OpenGL-basico/Release/vc143.idb
Release/WhittedRayTracing.exe
OpenGL-basico/Release/*.obj
OpenGL-basico/Release/WhittedRayTracing.exe.recipe
Debug/*.obj
Debug/*.exe
Release/*.obj
Release/*.exe
OpenGL-basico/Debug/WhittedRayTracing.exe.recipe
OpenGL-basico/Debug/WhittedRayTracing.ilk
OpenGL-basico/Release/DoodleJump3D.exe.recipe
OpenGL-basico/Release/OpenGL-basico.vcxproj.FileListAbsolute.txt